@media screen and (max-width: 1230px) {
  body .header .header__text h1 {
    font-size: 120px; }
  body .header .header__text p {
    font-size: 21px; }
  body .header .header__nav .nav {
    margin-left: 110px;
    width: 640px; }
    body .header .header__nav .nav a {
      font-size: 15px; }
  body .section--main .main__info .main__info--content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body .section--main .main__info .main__info--content .main__feature {
      width: 50%; }
      body .section--main .main__info .main__info--content .main__feature .circle__text {
        max-width: 260px;
        padding-bottom: 100px; }
  body .container--akita {
    padding: 0; }
    body .container--akita .akita .akita__item .akita__text {
      max-width: 330px; }
  body .blog .blog__items .blog__item {
    overflow: hidden; }
  body .main__write .container--write {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px; }
    body .main__write .container--write .write__item {
      padding: 40px 0; }
  body .psd__free .psd__phone .psd__items {
    margin-left: 30px; }
  body .psd__free .psd__phone .psd__iphone img {
    margin: 70px 0 70px 0; }
  body .team {
    overflow: hidden; }
    body .team .our__team .our__team--items {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 130px; }
      body .team .our__team .our__team--items .our__team--item {
        margin: 10px; } }

@media screen and (max-width: 990px) {
  body .header .scroll {
    text-align: center; }
    body .header .scroll img {
      width: 70%; }
  body .header .header__text {
    margin-top: 140px; }
    body .header .header__text h1 {
      font-size: 100px; }
    body .header .header__text p {
      font-size: 16px; }
  body .header .header__nav .nav {
    margin-left: 0;
    width: 100%; }
  body .header .header__nav .social {
    margin-left: 10px; }
    body .header .header__nav .social i {
      font-size: 14px; }
  body .section--main .main__info .main__info--text {
    font-size: 28px; }
    body .section--main .main__info .main__info--text p:after {
      font-size: 170px;
      left: 33.5%;
      top: -110px; }
  body .section--main .main__info .main__info--content .main__feature p {
    font-size: 15px; }
  body .section--main .main__info .main__info--content .main__feature span {
    font-size: 13px; }
  body .akita .akita__item .akita__text {
    font-size: 13px;
    max-width: 240px; }
  body .akita .akita__item--text--first {
    padding-left: 115px; }
  body .blog .blog__items .blog__item .blog__item--title {
    margin: 0 auto;
    max-width: 140px;
    font-size: 15px; }
  body .blog .blog__items .blog__item .blog__item--text {
    font-size: 13px;
    margin: 0 auto;
    max-width: 180px; }
  body .blog .blog__header {
    font-size: 28px;
    margin-top: 100px; }
    body .blog .blog__header:after {
      font-size: 170px;
      left: 44.2%;
      top: -110px; }
  body .blog .blog__header--text {
    font-size: 22px;
    margin-top: 80px; }
  body .psd__free {
    max-height: 800px; }
    body .psd__free .psd__phone .psd__items {
      margin-left: 30px;
      width: 70%; }
    body .psd__free .psd__phone .psd__iphone img {
      width: 80%; }
  body .section--sub .submit .submit__form {
    margin-top: 70px; }
    body .section--sub .submit .submit__form input {
      width: 30%; } }

@media screen and (max-width: 770px) {
  body .header .header__nav {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    body .header .header__nav .nav {
      display: none; }
  body .header .header__text {
    margin-top: 140px; }
    body .header .header__text h1 {
      font-size: 74px; }
    body .header .header__text p {
      text-align: center; }
  body .section--main .main__info .main__info--content .main__feature .circle__text {
    max-width: 140px; }
  body .container--akita .akita .akita__item .akita__title {
    font-size: 12px; }
  body .container--akita .akita .akita__item .akita__subtitle {
    font-size: 18px; }
  body .container--akita .akita .akita__item .akita__text {
    font-size: 10px;
    max-width: 180px; }
  body .container--akita .akita .akita__item--text--first {
    padding-left: 60px; }
  body .container--akita .akita .akita__item--text--second {
    padding-left: 40px; }
  body .blog .blog__items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body .blog .blog__items .blog__item {
      margin: 0 auto; }
      body .blog .blog__items .blog__item .blog__item--text {
        max-width: 240px; }
  body .blog .blog__header:after {
    left: 38.2%; }
  body .main__write .container--write .write__item {
    width: 100%; }
  body .psd__free .psd__phone .psd__iphone img {
    width: 100%; }
  body .section--sub .submit .submit__text {
    padding-top: 100px;
    margin: 0 auto;
    font-size: 18px;
    width: 30%; }
    body .section--sub .submit .submit__text:after {
      font-size: 180px;
      top: 60px;
      left: 23.5%; } }

@media screen and (max-width: 489px) {
  body .page {
    overflow: hidden; }
    body .page .section--main .main__info .main__info--text {
      font-size: 20px; }
      body .page .section--main .main__info .main__info--text p:after {
        font-size: 114px;
        left: 39.5%;
        top: -67px; }
    body .page .container--akita .akita .akita__item .akita__text {
      font-size: 10px;
      max-width: 160px;
      padding: 0 0 30px 20px; }
    body .page .container--akita .akita .akita__item--text--first {
      padding-left: 30px; }
    body .page .container--akita .akita .akita__item--text--second {
      padding-left: 30px; }
    body .page .psd__free {
      position: relative; }
      body .page .psd__free .psd__phone .psd__items {
        width: 100%;
        z-index: 1000; }
      body .page .psd__free .psd__phone .psd__iphone {
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: -10px;
        right: -160px;
        z-index: 0; }
        body .page .psd__free .psd__phone .psd__iphone img {
          width: 60%; }
    body .page .team .our__team .our__team--logo:after {
      left: 32.5%; }
    body .page .team .our__team .our__team--items {
      padding: 0 0 100px 0; } }

@media screen and (max-width: 375px) {
  body .page .header .scroll {
    margin-top: 40px;}
  body .page .header .header__text {
    margin-top: 70px; }
    body .page .header .header__text h1 {
      font-size: 50px;
      letter-spacing: 0; }
    body .page .header .header__text p {
      font-size: 10px;
      text-align: center; }
  body .page .container--akita .akita .akita__item {
    width: 100%;
    overflow: visible; }
    body .page .container--akita .akita .akita__item .akita__item--img {
      display: none; }
    body .page .container--akita .akita .akita__item .akita__text {
      max-width: 240px; }
  body .page .main__write .container--write .write__item .write__text {
    width: 100%;
    font-size: 10px; }
  body .page .main__write img {
    width: 20%; }
  body .page .psd__free .psd__phone .psd__items h2 {
    font-size: 20px; }
  body .page .psd__free .psd__phone .psd__items p {
    font-size: 12px; }
  body .page .psd__free .psd__phone .psd__items span {
    font-size: 14px; }
  body .page .team .our__team .our__team--text {
    margin: 50px 0 30px 0;
    font-size: 18px; }
  body .page .team .our__team .our__team--logo {
    font-size: 30px; }
    body .page .team .our__team .our__team--logo:after {
      font-size: 100px;
      top: -57px;
      left: 40.5%; }
  body .page .team .our__team .our__team--items {
    padding: 0 0 100px 0; }
  body .page .section--sub .submit .submit__text {
    width: 50%; }
    body .page .section--sub .submit .submit__text:after {
      left: 13.5%; } }

@media screen and (max-width: 320px) {
  body .page .header .header__text {
    margin-top: 0; }
    body .page .header .header__text p {
      font-size: 8px;
      letter-spacing: 10px; }
  body .page .section--main .main__info .main__info--content .main__feature .circle__img {
    width: 100px;
    height: 100px; }
  body .page .section--main .main__info .main__info--text {
    text-align: center; }
    body .page .section--main .main__info .main__info--text p:after {
      left: 31.5%; }
  body .page .container--akita .akita .akita__item .akita__text {
    padding-right: 20px; }
  body .page .blog .blog__header:after {
    left: 29.2%; }
  body .page .team .our__team .our__team--logo:after {
    left: 38.5%; }
  body .page .section--sub .submit .submit__text:after {
    left: 2.5%; } }
